.likeContainer{
    margin: 2rem;
}
.likeCart img{
    width: 150px;
    height: 200px;
    object-fit: contain;
}
.likeCart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.ClearBtn{
    display: grid;
    place-items: center;
    border-radius: 2px solid red;
    color: red;
}